extends layout

block content
    fieldset
        legend Create a chat
        form(action='/room' method='post')
            div: input(name='title' placeholder='Room title')
            div: input(name='max' placeholder='Max. Occp (min 2)' min='2' value='10')
            div: input(name='password' placeholder='Password' placeholder='Please enter a password if you want to make it private')
            div: button(type='submit') Creat